# Data Collection :
https://www.last.fm/api

http://www.dtic.upf.edu/~ocelma/MusicRecommendationDataset/lastfm-1K.html

In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
plays_data = pd.read_csv('/cxldata/gle/usersha1-artmbid-artname-plays.tsv',sep='\t')

In [3]:
#plays_data = pd.read_csv('lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv',sep='\t')

In [4]:
plays_data.head()

,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
1,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
2,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
3,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
4,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691

In [5]:
plays_data.shape

(17535654, 4)

In [6]:
plays_data.columns=['user_id','artist_id','artist_name','plays']

In [7]:
plays_data.head()

,user_id,artist_id,artist_name,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
1,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
2,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
3,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
4,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691

In [6]:
plays_data.describe()

              plays
count  1.753565e+07
mean   2.151931e+02
std    6.144813e+02
min    0.000000e+00
25%    3.500000e+01
50%    9.400000e+01
75%    2.240000e+02
max    4.191570e+05

In [13]:
plays_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17535654 entries, 0 to 17535653
Data columns (total 4 columns):
user_id        object
artist_id      object
artist_name    object
plays          int64
dtypes: int64(1), object(3)
memory usage: 535.1+ MB

In [14]:
plays_data['plays'].max()

419157

In [15]:
plays_data.columns

Index([u'user_id', u'artist_id', u'artist_name', u'plays'], dtype='object')

In [16]:
plays_data['user_id'].nunique()

358868

In [17]:
plays_data['artist_name'].unique()

array(['die \xc3\x84rzte', 'melissa etheridge', 'elvenking', ...,
       'sacred buddha', 'cat lunette', 'suzanina'], dtype=object)

In [18]:
plays_data['artist_name'].nunique()

292363

In [19]:
plays_data.drop('artist_name',axis=1, inplace=True)

In [20]:
plays_data.head()

,user_id,artist_id,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099
1,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897
2,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717
3,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706
4,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,691

# Artist Data

In [21]:
artist_data = plays_data[['artist_id','plays']]

In [22]:
artist_data.head()

                              artist_id  plays
0  f2fb0ff0-5679-42ec-a55c-15109ce6e320   1099
1  b3ae82c2-e60b-4551-a76d-6620f1b456aa    897
2  3d6bbeb7-f90e-4d10-b440-e153c0d10b53    717
3  bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8    706
4  8bfac288-ccc5-448d-9573-c33ea2aa5c30    691

In [23]:
artist_aggr = artist_data.groupby('artist_id', as_index=False).sum()

In [24]:
artist_aggr.head()

                              artist_id  plays
0  00010eb3-ebfe-4965-81ef-0ac64cd49fde    517
1  0001cd84-2a11-4699-8d6b-0abf969c5f06   4991
2  0002260a-b298-48cc-9895-52c9425796b7     69
3  00026532-1fe3-45fb-a0df-34aec04a1319    321
4  00026d14-39c6-4f2d-b556-093233b5e714    709

In [25]:
artist_data.shape

(17535654, 2)

In [26]:
artist_aggr.shape

(160112, 2)

In [27]:
artist_aggr.columns

Index([u'artist_id', u'plays'], dtype='object')

# Clustering on Artist Data

In [30]:
km1 = KMeans(n_clusters=10)

In [29]:
artist_count = artist_aggr[['plays']]

In [31]:
km1

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [32]:
artist_count.head()

   plays
0    517
1   4991
2     69
3    321
4    709

In [33]:
km1.fit(artist_count)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [34]:
label1= km1.labels_

In [35]:
label1

array([0, 0, 0, ..., 0, 0, 0], dtype=int32)

In [36]:
artist_aggr['cluster_id'] = label1

In [37]:
artist_aggr[artist_aggr['cluster_id']==7]

                                   artist_id    plays  cluster_id
688     0110e63e-0a9b-4818-af8e-41e180c20b9a  2367133           7
817     013fa897-86db-41d3-8e9f-386c8a34f4e6  3338687           7
971     01809552-4f87-45b0-afff-2c6f0730a3be  3285873           7
1314    020bfbb4-05c3-4c86-b372-17825c262094  2250415           7
3953    067102ea-9519-4622-9077-57ca4164cfbb  2244485           7
4308    06fb1c8b-566e-4cb2-985b-b467c90781d4  3086672           7
4863    07e748f1-075e-428d-85dc-ce3be434e906  2356516           7
4992    081b133e-ce74-42ba-92c1-c18234acb532  2494874           7
6678    0ab49580-c84f-44d4-875f-d83760ea2cfe  2513644           7
11403   125ec42a-7229-4250-afc5-e057484327fe  2471763           7
11678   12d432a3-feb0-49b1-a107-d20751880764  2855673           7
12042   13655113-cd16-4b43-9dca-cadbbf26ee05  2473100           7
12545   14387b0f-765c-4852-852f-135335790466  2683112           7
12752   148ddea2-6839-4354-8e2c-5dfadf136b7f  2933056           7
14339   17167af8-c1da-45cc-bba2-9d23f068b7a3  2567335           7
14386   172e1f1a-504d-4488-b053-6344ba63e6d0  3077510           7
14723   17b53d9f-5c63-4a09-a593-dde4608e0db9  2375843           7
14850   17e137fb-59e5-4fd7-af48-afc34995396c  2151976           7
15031   183105b5-3e68-4748-9086-2c1c11bf7a3d  2692068           7
15059   183d6ef6-e161-47ff-9085-063c8b897e97  2051417           7
15704   1946a82a-f927-40c2-8235-38d64f50d043  3316340           7
15814   197450cd-0124-4164-b723-3c22dd16494d  2873193           7
19499   1f43d76f-8edf-44f6-aaf1-b65f05ad9402  2356790           7
20305   20883363-1ea4-4d72-ad72-c0e767038f3e  3113534           7
20385   20aa23e3-3532-42ca-acf6-e8c2e9df2688  3072342           7
20672   2119beb8-6ac5-4f21-82a4-b831c90c0024  2909062           7
21659   22a096ef-c70d-4d70-ae19-4fc2412d4986  2442431           7
21667   22a40b75-affc-4e69-8884-266d087e4751  2174585           7
22219   2386cd66-e923-4e8e-bf14-2eebe2e9b973  2425813           7
22710   2449300a-6ca7-45da-8102-22789d256475  2318345           7
...                                      ...      ...         ...
129629  cf0f4547-ffbd-4011-98ad-0bec9ba022db  2347984           7
130059  cfbc0924-0035-4d6c-8197-f024653af823  2942943           7
132245  d339efbb-77b9-4147-ba9e-59f2f24550b2  2307767           7
133480  d530dbf9-69b1-404f-98f2-0431104f5a1e  2997360           7
135396  d8354b38-e942-4c89-ba93-29323432abc3  3317418           7
135448  d84c4e93-9c5f-45ab-a4ba-bd79d037eb31  2045830           7
135773  d8d1b067-78bb-4db7-8f91-db2ff9a83ee5  2488163           7
141161  e162b2eb-6a42-4240-8c1b-c94d9a0acb73  2195300           7
141479  e1f1e33e-2e4c-4d43-b91b-7064068d3283  2113870           7
141529  e20747e7-55a4-452e-8766-7b985585082d  2961920           7
144065  e631bb92-3e2b-43e3-a2cb-b605e2fb53bd  2702213           7
144469  e6de1f3b-6484-491c-88dd-6d619f142abc  2452004           7
144943  e795e03d-b5d5-4a5f-834d-162cfb308a2c  2979893           7
145325  e8374874-4178-4869-b92e-fef6bf30dc04  3171682           7
146746  ea854cc1-13fc-4fd0-86a5-d2c7dba06764  2194133           7
146871  eab76c9f-ff91-4431-b6dd-3b976c598020  2890316           7
147033  eaf6a7ca-105d-4a94-ba02-8c3e4040319a  2307150           7
147673  ebfc1398-8d96-47e3-82c3-f782abcdb13d  2578715           7
149830  ef6e2e49-aa93-41bd-89b0-8c7d2f260a83  2247911           7
149918  ef954679-5ee7-4016-acef-7ac71f2fa3d8  2160630           7
150834  f1106b17-dcbb-45f6-b938-199ccfab50cc  2072089           7
152044  f2fc6ece-5615-4d2c-9cb3-8c5d51a839ea  2342730           7
152984  f4857fb9-e255-4dc6-bd01-e4ca7cc68544  2931020           7
155219  f82bcf78-5b69-4622-a5ef-73800768d9ac  2905391           7
156182  f9c1cc73-36ba-4f8d-ba12-7d2490608886  2115671           7
156285  f9ef7a22-4262-4596-a2a8-1d19345b8e50  2461628           7
156604  fa7b9055-3703-473a-8a09-adf2fe031a24  2168716           7
156747  fabb37f8-eb2a-4cc1-a72a-b56935bbb72d  2114826           7
158338  fd429857-5ace-4609-ae54-1502c3bdac11  3025734           7
159899  ffb2d3e3-a4cc-48cf-8fb0-f2f846e9d7b9  3070943           7

[157 rows x 3 columns]

# User Data (how many times songs played by a user)

In [38]:
user_data = plays_data[['user_id','plays']]

In [39]:
user_data.head()

                                    user_id  plays
0  00000c289a1829a808ac09c00daf10bc3c4e223b   1099
1  00000c289a1829a808ac09c00daf10bc3c4e223b    897
2  00000c289a1829a808ac09c00daf10bc3c4e223b    717
3  00000c289a1829a808ac09c00daf10bc3c4e223b    706
4  00000c289a1829a808ac09c00daf10bc3c4e223b    691

In [40]:
user_aggr = user_data.groupby('user_id', as_index=False).sum()

In [41]:
user_aggr.head()

                                    user_id   plays
0  00000c289a1829a808ac09c00daf10bc3c4e223b   14579
1  00001411dc427966b17297bf4d69e7e193135d89  119921
2  00004d2ac9316e22dc007ab2243d6fcb239e707d    5770
3  000063d3fe1cf2ba248b9e3c3f0334845a27a6bf     586
4  00007a47085b9aab8af55f52ec8846ac479ac4fe    6115

In [42]:
user_aggr.shape

(358868, 2)

In [43]:
user_data.shape

(17535654, 2)

# Clustering on User data (similar users)

In [44]:
user_count = user_aggr[['plays']]

In [45]:
user_count.head()

    plays
0   14579
1  119921
2    5770
3     586
4    6115

In [46]:
km2 = KMeans(n_clusters=10)

In [47]:
km2.fit(user_count)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [49]:
km2

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [50]:
label2 = km2.labels_

In [51]:
label2

array([5, 7, 9, ..., 9, 9, 1], dtype=int32)

In [52]:
user_aggr['cluster_id'] = label2

In [53]:
user_aggr[user_aggr['cluster_id']==8]

                                         user_id  plays  cluster_id
18      00029d80b8af94f2d5e3349ceb28b7304f80c1c4  25990           8
19      0002dd2154072434d26e5409faa591bfb260a01e  34791           8
23      00035a0368fd249d286f683e816fbdc97cbfa7d9  28460           8
25      0003906ab668111f2cd332962cb09f8e3b795c6c  30319           8
37      0006e742911b22c8f275674c67b600bf2434f88d  37256           8
55      0009194b405052f1ee09a9cce78d660c47832735  26937           8
74      000c17602167c89588c25f40310d7c29e2275c22  35105           8
76      000c78b3fa24fe3c6cd108af2802cda72ac24a3a  28139           8
105     00116ce6ccf9f2e315152821908d2f6f4389605c  35926           8
175     001f9738eee17f844fb965e139582115c6a1c49d  26958           8
206     00248667343aef7179c66db4d3d4de737403c572  28029           8
252     002b63c6eb63945fcbde6e842a399ce107f1bd35  28993           8
254     002bacc194ed8d3443e8e2a9312e15409cdf965f  30480           8
256     002bf1d299b9de0dbea1ae25d94c603b5512baa4  26311           8
257     002cafa230a7c8d934b6eb90de7aa912a72a6528  31785           8
314     003711ef21895513692f22348383a9f0bfd4e61c  30901           8
315     00371cc2a235a9cad6a2367f6c98577e5a7b5324  35939           8
319     003917e3f72fcb6e9ee172e7099902a623aea050  31785           8
320     0039261465319fa4f5fe059597fbde77bf274d32  32026           8
336     003c3c21a7ee4f8ce34e82f204d5aaf63432de87  33188           8
373     00434dd4ee2a91dd0bb48c6deda99ec80dfbc9df  27835           8
388     00456ba983e5d59c62459149b7662dcf10d72e69  30459           8
403     0047b9a66007bae33d0c92012813673b5a6d25a6  34637           8
416     004a95df015c11f278c3fb6aab2a08612d97d82b  31566           8
433     004ed5e216d71f4628870b518dbbc904ed81e7ae  33873           8
449     0051bbebc5b8d1a7f6dbcdd64d88535334197063  27238           8
470     0055032c746496bb9b525ae3a572822478a77c7b  37571           8
471     00554b78cbcf17e234ce8ef6abcc364ed2a2c4f4  36427           8
478     00562cdf605a5bfe55bd971cb23bd4d05115d862  26985           8
486     00579236455a0b00c27179d5b7d950d7d04a9620  28214           8
...                                          ...    ...         ...
358236  ff8973c92ef39e2a530c6fa6fbb37b06c5a7c46a  29916           8
358241  ff8ac70c1330fd881c6b7961eb259c92f22e769b  29440           8
358246  ff8b6a6bb53fc08dc9f0149fb4de3cb89a1da763  27671           8
358249  ff8c27cd915da073a0e0794336b34d8e33d06944  28532           8
358331  ff996b6a7599e6d3e788112ff330bb4d39019367  34863           8
358347  ff9ba5feeed4fa6a791f3f28b4e0de339b8941fb  27991           8
358366  ff9dd7036c1109789a09bf25798feb6bfeb241c9  34232           8
358368  ff9e45d57797f7aa174730ff272ecf15b22a47ce  35182           8
358374  ff9f2be73793c68a0d4e5f37bf857c99f4ece64a  29392           8
358391  ffa2ef14b74ef4afd40236d2f98b87b5d8708cdb  35088           8
358435  ffab41e3f38a594ebf51c43547371dd597861b7c  31004           8
358437  ffab9589a3cbe81e562dce1a2a2777519fdaea2f  26822           8
358449  ffadbed5059898306a167d6853ca846b1d46c84d  28807           8
358471  ffb0bb2cf39f2556b7f0eb58e1c5d6755d7fbc04  28027           8
358549  ffbffefcd3c0bc5e665eb16f73a525b73c15e941  28246           8
358580  ffc74d91ff215686c57d2c9df4af1601f7eca420  34104           8
358615  ffce6fff4e6987c80ccebc647b63ea2cfdd62e02  25867           8
358621  ffd0b9972b0933eb38d510ff3b17dcca53ee3bca  31257           8
358623  ffd0f163514d735e5c00bd836a9376a95b9316fa  27629           8
358654  ffd667505d5090e647049ddbb13b0b19eaf7da98  26709           8
358697  ffdee69a3ecea16123e37f7b16b87ddbdfcf326a  31799           8
358702  ffe0116edb62008885eeda31990f109cf39dfd35  29487           8
358721  ffe44bc49baf5fa1a475a5d73922faf58e13ae01  30059           8
358725  ffe59f41f2e80273f9aa882c544e658ff484b268  28499           8
358736  ffe77c1ff8596e4f714f9d654d97185a771d17eb  26744           8
358779  ffee40c3deb9ac6576255c51b12276034229613e  27626           8
358789  fff2294c7ff23100d40d661d1f49c619a1505b60  29020           8
358833  fffa645d02bc5dce35139644a00d47c3006e91c2  28208           8
358849  fffc7a7acb9c170521e31364b395a45eda02240c  32893           8
358858  fffe1f0fc9eb1432b98eb25b2c950850796a4a8b  27260           8

[18006 rows x 3 columns]

# User Profile Data

In [54]:
plays_data.head()

,user_id,artist_id,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099
1,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897
2,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717
3,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706
4,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,691

In [55]:
#plays_data = pd.read_csv('/cxldata/gle/usersha1-artmbid-artname-plays.tsv',sep='\t')
user_profile = pd.read_csv('/cxldata/gle/usersha1-profile.tsv',sep='\t',header=None)

In [56]:
user_profile.head()

,0,1,2,3,4
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"

In [57]:
user_profile.columns = ['user_id','gender','age','country','registerd_on']

In [58]:
user_profile.head()

,user_id,gender,age,country,registerd_on
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22.0,Germany,"Feb 1, 2007"
1,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
2,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
3,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
4,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"

In [59]:
user_profile.shape

(359347, 5)

In [60]:
user_profile.describe()

                 age
count  284447.000000
mean       25.098046
std        21.665742
min     -1337.000000
25%        20.000000
50%        23.000000
75%        28.000000
max      1002.000000

In [66]:
user_profile['age'].head(100)

0     22.0
1      NaN
2      NaN
3     19.0
4     28.0
5     20.0
6     17.0
7     22.0
8     24.0
9      NaN
10    27.0
11    23.0
12     NaN
13    18.0
14     NaN
15    23.0
16    30.0
17    17.0
18    27.0
19    30.0
20     NaN
21    26.0
22     NaN
23    22.0
24    14.0
25    34.0
26     NaN
27    19.0
28     NaN
29    23.0
      ...
70    24.0
71     NaN
72    23.0
73    30.0
74    18.0
75    19.0
76    20.0
77    19.0
78    17.0
79    24.0
80     NaN
81     NaN
82    33.0
83     NaN
84    45.0
85    25.0
86     NaN
87    34.0
88    20.0
89    17.0
90     NaN
91    27.0
92    21.0
93     NaN
94    20.0
95    21.0
96     NaN
97    19.0
98     NaN
99     NaN
Name: age, Length: 100, dtype: float64

In [67]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359347 entries, 0 to 359346
Data columns (total 5 columns):
user_id         359347 non-null object
gender          326572 non-null object
age             284447 non-null float64
country         359347 non-null object
registerd_on    359347 non-null object
dtypes: float64(1), object(4)
memory usage: 13.7+ MB

# Gender Analysis

In [68]:
user_profile['gender'].value_counts()

m    241642
f     84930
Name: gender, dtype: int64

In [70]:
user_profile['gender'].isnull().sum()

32775

In [71]:
241642+84930

326572

# Age Analysis

In [72]:
user_profile['age'].value_counts()

21.0      24054
20.0      24037
19.0      22261
22.0      22177
23.0      19890
24.0      17568
18.0      17014
25.0      15369
26.0      13294
27.0      11215
17.0      11120
28.0       9995
29.0       8737
30.0       7235
31.0       6043
16.0       5838
32.0       5187
33.0       4576
34.0       3949
35.0       3533
36.0       3061
39.0       2732
37.0       2709
38.0       2352
15.0       2273
40.0       1638
41.0       1422
42.0       1312
43.0       1049
44.0        957
          ...
92.0         26
105.0        25
77.0         23
97.0         22
104.0        21
73.0         21
86.0         21
90.0         20
91.0         19
89.0         19
79.0         19
72.0         19
95.0         19
74.0         18
94.0         17
87.0         16
83.0         15
96.0         15
80.0         14
75.0         14
82.0         14
98.0         14
78.0         13
93.0         13
81.0         10
84.0          5
85.0          4
121.0         2
1002.0        1
666.0         1
Name: age, Length: 113, dtype: int64

# Country Analysis

In [74]:
x = user_profile['country'].value_counts()

In [78]:
user_profile['country'].value_counts()

United States               67044
Germany                     31651
United Kingdom              29902
Poland                      20987
Russian Federation          19833
Brazil                      14534
Sweden                      13122
Spain                       13051
Finland                     11579
Netherlands                  9650
Canada                       8679
France                       7529
Italy                        7525
Australia                    7135
Japan                        6637
Turkey                       6452
Norway                       5155
Mexico                       4834
Czech Republic               4774
Ukraine                      4396
Belgium                      3803
Portugal                     3196
Switzerland                  3053
Bulgaria                     2800
Austria                      2796
Chile                        2794
Argentina                    2640
Romania                      2636
Denmark                      2508
Hungary                      1985
                            ...
Saint Kitts and Nevis          10
Solomon Islands                10
Senegal                         9
Namibia                         9
San Marino                      9
Cameroon                        9
Tonga                           8
Saint Lucia                     8
Rwanda                          8
Comoros                         8
Mayotte                         8
Gabon                           8
Mali                            7
Myanmar                         7
Grenada                         7
Malawi                          6
Eritrea                         6
Belize                          6
Guinea-Bissau                   5
Sudan                           5
Suriname                        5
Central African Republic        5
Mauritania                      5
Guyana                          5
French Guiana                   4
Marshall Islands                4
Gambia                          3
Liberia                         3
Benin                           3
Palau                           3
Name: country, Length: 239, dtype: int64

In [76]:
'India' in x

True

In [77]:
user_profile[user_profile['country']=='India']

,user_id,gender,age,country,registerd_on
224,0027d656fdcd82db423e1c7bd0d93a8c8b4abe36,m,22.0,India,"Jul 31, 2007"
575,0066f6f25108065b7d7b1257c95394af95f94711,m,21.0,India,"Mar 22, 2008"
874,00a1fed22db2c89f7ea25938dcefa02447a1402b,m,22.0,India,"Oct 12, 2005"
926,00ab5d69df2b054dde1bc5f40f839628349c6bb0,m,NaN,India,"Dec 10, 2008"
1855,01495b2100da53802382b726df7b5e8759913901,NaN,34.0,India,"Jul 7, 2008"
2209,018b9e49d20e522b4e169ea8fc587cc418e946c3,m,22.0,India,"Oct 4, 2008"
2734,01e96bd293922e4257bba37a8ea06134adde029a,NaN,24.0,India,"Dec 1, 2007"
2807,01f834a05fd422f3ee4e0c89ca56ff4b59cea3b1,m,20.0,India,"Oct 27, 2007"
3309,025502571e4cc34d4da8ff8cce76cd26bc82ac50,f,NaN,India,"Aug 8, 2008"
3765,02b02f9fbf759f1f16ea0a9b92b36086584df203,m,23.0,India,"Feb 16, 2006"
3873,02c54f0a691c93bb78632c3ec61c693c3867490c,m,18.0,India,"Mar 14, 2008"
4073,02eba73092ef1f567ff0e6721522aaa9438f89f8,m,NaN,India,"May 8, 2009"
4572,03486758265d4fe13d1664bee14759a31b723a46,NaN,NaN,India,"Oct 11, 2008"
4617,0353b15ef93dc4ea03c2567db51e3ace82696b5a,m,25.0,India,"Aug 2, 2005"
4911,038b66ad33818a499f2d6cdd732d7861bb6a0ba5,NaN,NaN,India,"Oct 24, 2007"
5364,03dc21eeb5df9947b32cd2d7ed0d591f42fcc959,m,25.0,India,"Oct 14, 2008"
5741,0424f43a57aaf3683773934825822c13eb9b6c85,m,21.0,India,"Sep 20, 2008"
5784,04300d6866cb358d1b97a1cf897f7033d3da8d71,m,23.0,India,"Aug 24, 2008"
5881,043fe10e2b1f92c2a55eeaecd3b51ca26e0e88ad,m,25.0,India,"Jan 28, 2008"
6034,045ae25346196eddb3aa18b348521e0a74afdfed,m,29.0,India,"Apr 4, 2006"
6547,04ba438b91b394ea0fbad3a739142cdd9a1d4448,f,NaN,India,"Feb 28, 2007"
7066,05166c73da6f893adff6586ce072ee095324bdcd,f,24.0,India,"May 30, 2006"
8245,05ec135772a57fc68fc8794bf6ebb57db3c26ae7,m,24.0,India,"May 21, 2005"
8554,0626178d2c4d5ca8f9e29af0d389aa55b4d0260c,m,26.0,India,"Sep 9, 2006"
9385,06bb4eabf52f93362283e31279338ff48c881017,f,21.0,India,"Nov 3, 2007"
9678,06ee17d33db5777e895481777df3ebf0981896b7,m,26.0,India,"Mar 3, 2004"
10618,078ea62186f94d0c14588334b663043abf07df43,m,28.0,India,"Jul 23, 2006"
10854,07ba1cc1c0621475fb1dcc68090783af6bdf227c,m,26.0,India,"Apr 7, 2004"
11876,087b2083a19f3df0ab6a231735260528be298da6,m,30.0,India,"Aug 30, 2009"
13127,0961e6304e1f59de8f6c7a98715c0e42340664e0,m,26.0,India,"Aug 2, 2005"
...,...,...,...,...,...
349675,f90d2accf062ca52ed95cacf3a2379c1aa25cb9d,m,26.0,India,"Sep 23, 2006"
349981,f94a2ec6a05b7af726af5c717193dcd908e63f68,m,24.0,India,"Jul 25, 2009"
350174,f96ded3452de6d4113e4e785538521c538e167fb,f,26.0,India,"Aug 1, 2006"
350423,f99deefcb1a97f6b9d4f9e19c189c79297761142,NaN,NaN,India,"Aug 22, 2006"
350429,f99f48b5512c123fc02e12907d8c411f763c4f09,m,24.0,India,"Oct 6, 2008"
350605,f9bfa31bab979b892ca3845d398a557bd857fa1b,m,43.0,India,"Jan 21, 2009"
351958,fabff5d81eaa85f154fc32465f955d873732fff2,f,23.0,India,"Feb 4, 2007"
352198,faeccf6683d92839692ca9224fdbf2201f9b7b5b,m,24.0,India,"Aug 8, 2006"
352721,fb4b83c59459fa6c2527cedf546f912bef8b02b6,m,22.0,India,"Oct 14, 2008"
352775,fb564a2309b241a30fcc0e8f568f82584fb00d78,m,32.0,India,"Mar 7, 2006"
353091,fb8da521c072a30379bf944eea79232ef8f7e059,m,21.0,India,"May 1, 2007"
353690,fbf53cfc1880ba619f59ed56034206166fbd7557,f,NaN,India,"Aug 4, 2005"
353878,fc1b609e88a93dd419defda2150a3cb8874acf4d,m,23.0,India,"Jan 29, 2008"
354138,fc4cf6b07af65be6158d00cfb74829c4d619b45b,m,23.0,India,"Mar 14, 2008"
354347,fc72b2bcced5d3cb4f4e95703c0f6db0f48a9204,m,21.0,India,"Aug 28, 2007"
354481,fc8d7532a8c9af7f7e56e36ecf78d8af8e407940,m,28.0,India,"Dec 11, 2006"
354537,fc96e0f71a58a21c63000b77591914a8d5ef6449,f,29.0,India,"Jun 5, 2006"
354610,fca3fa05a8b8540dce68447c20b72d8404724007,m,36.0,India,"May 25, 2008"
355012,fce98e326a7db0d02f6041d9c4f207bd6c448a62,m,NaN,India,"Oct 11, 2008"
355425,fd3526fb581dc74aefc5712a8b914a87b25e2c26,m,25.0,India,"Aug 18, 2005"
355887,fd8cd3b5c7753e648847c0452ef897d8f7648db5,m,25.0,India,"Dec 29, 2006"
355901,fd8fd83d20f239c8e88e9f2db598317b5e290760,m,21.0,India,"Mar 24, 2006"
356079,fdae240913b144b5e6c33b791f5c545197672cf2,m,30.0,India,"Nov 27, 2008"
357166,fe72741d7d2545219be0394fa7f0c7a7c853730a,f,27.0,India,"May 25, 2007"
357174,fe741a733551608522b508fd9a5f934b85c9f16c,m,32.0,India,"Nov 26, 2008"
357333,fe9054105b0f349ddc4f245ce93a31936ef893db,m,29.0,India,"Apr 5, 2007"
358957,ffb25fcf93d83fd8180907e6d7b498a567398315,m,23.0,India,"Jan 31, 2007"
359120,ffd37ce3970cfb1e79f24a65261309068172b812,f,NaN,India,"Mar 11, 2007"
359164,ffdc63ce44d176cd5edff92a912ab65ddb0e323e,f,17.0,India,"Jan 14, 2008"
359273,fff281b3b632d0ec5b647f62fdaaa81d6e182756,m,25.0,India,"Jan 17, 2008"

# registerd_on Analysis

In [79]:
user_profile['registerd_on'].value_counts()

Jan 24, 2008    569
Oct 28, 2008    502
Nov 2, 2008     490
Nov 9, 2008     471
Oct 26, 2008    468
Nov 3, 2008     468
Feb 1, 2009     459
Nov 1, 2008     455
Nov 28, 2007    453
Nov 11, 2008    445
Oct 5, 2008     440
Oct 27, 2008    439
Jan 9, 2009     437
Jan 23, 2008    436
Nov 4, 2008     435
Oct 19, 2008    430
Oct 29, 2008    429
Jan 11, 2009    427
Jan 27, 2008    425
May 30, 2007    418
Oct 20, 2008    417
Jan 10, 2009    415
Oct 7, 2008     415
Jan 25, 2009    415
Sep 21, 2008    414
Jan 18, 2009    412
Jan 8, 2009     412
Oct 12, 2008    412
Nov 8, 2008     412
Nov 10, 2008    411
               ...
Nov 11, 2009      1
Nov 22, 2002      1
May 1, 2003       1
Nov 22, 2003      1
Jun 26, 2004      1
Nov 24, 2003      1
Nov 15, 2002      1
Oct 27, 2003      1
Oct 27, 2009      1
Oct 20, 2003      1
Nov 7, 2002       1
Sep 6, 2009       1
Mar 22, 2003      1
Sep 12, 2003      1
Oct 14, 2009      1
Aug 5, 2003       1
Sep 15, 2009      1
Oct 10, 2003      1
Oct 26, 2009      1
Oct 14, 2003      1
Sep 24, 2009      1
Dec 24, 2003      1
Sep 15, 2003      1
Nov 19, 2002      1
Nov 19, 2003      1
Oct 17, 2003      1
Sep 6, 2003       1
Dec 31, 2003      1
May 28, 2003      1
Dec 2, 2002       1
Name: registerd_on, Length: 2298, dtype: int64

# Marge Datasets

In [80]:
master_data = pd.merge(plays_data, user_profile, on='user_id')

In [81]:
master_data.head()

,user_id,artist_id,plays,gender,age,country,registerd_on
0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099,f,22.0,Germany,"Feb 1, 2007"
1,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897,f,22.0,Germany,"Feb 1, 2007"
2,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717,f,22.0,Germany,"Feb 1, 2007"
3,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706,f,22.0,Germany,"Feb 1, 2007"
4,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,691,f,22.0,Germany,"Feb 1, 2007"

In [82]:
master_data.shape

(17535568, 7)

In [83]:
plays_data.shape

(17535654, 3)

# Gender Behaviour

In [84]:
gender_data = master_data[['gender','artist_id','plays']]

In [62]:
#gender_data.columnsumns

In [85]:
gender_aggr = gender_data.groupby(['gender','artist_id'],as_index=False).sum()

# Famous artists which Male listen to mostly

In [64]:
gender_aggr[gender_aggr['gender']=='m'].sort_values(by='plays', ascending=False)

       gender                             artist_id     plays
199147      m  b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d  20465864
193468      m  a74b1b7f-71a5-4011-9441-d0b5e4122711  19101652
156088      m  65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab  13073361
173275      m  83d91898-7763-47d7-b03b-b92132375c47  12868359
214725      m  cc197bad-dc9c-440d-a5b5-d52ba2e14234  11173069
177956      m  8bfac288-ccc5-448d-9573-c33ea2aa5c30  10336044
203116      m  b7ffd2af-418f-4be2-bdd1-22f8b48613da  10300111
187324      m  9c9f1380-2516-4fc9-a3e6-f9f61941d090  10169935
125957      m  31745282-b1ea-4d62-939f-226b14d68e7c   9714108
238442      m  f59c5520-5f46-4d2c-b2c4-822eabf53419   9688278
214693      m  cc0b7089-c08d-4c10-b6b0-873582c17fd6   9488671
213808      m  ca891d65-d9b0-4258-89f7-e6ba29d83767   8239660
200119      m  b2d122f9-eadb-4930-a196-8f221eeb0c66   7060908
97906       m  00a9f935-ba93-4fc8-a33a-993abe9c936b   6904531
163455      m  72c536dc-7137-4477-a521-567eeb840fa8   6885651
156984      m  678d88b2-87b0-403b-b63d-5da7465aecc3   6634756
183529      m  95e1ead9-4d31-4808-a7ac-32c3614c116b   6388553
97658       m  0039c7ae-e1a7-4a7d-9b49-0cbc716821a6   6295746
174049      m  8538e728-ca0b-4321-b7e5-cff6565dd4c0   6221226
156689      m  66fc5bf8-daa4-4241-b378-9bc9077939d2   6200090
191423      m  a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432   5951466
99517       m  0383dadf-2a4e-4d10-a46a-e9e041da8eb3   5855523
157220      m  67f66c07-6e61-4026-ade5-7e782fad3a5d   5835713
239164      m  f6f2326f-6b25-4170-b89d-e235b25508e8   5786400
101637      m  0743b15a-3c32-48c8-ad58-cb325350befa   5767668
167078      m  79239441-bfd5-4981-a70c-55c3f15c1287   5665651
197118      m  ada7a83c-e3e1-40f1-93f9-3e73dbc9298a   5599876
173636      m  847e8284-8582-4b0e-9c26-b042a4f49e57   5478693
100579      m  056e4f3e-d505-4dad-8ec1-d04f521cbb56   5392158
158364      m  69ee3720-a7cb-4402-b48d-a02c366f2bcf   5377682
...       ...                                   ...       ...
104262      m  0bbd4b58-1e46-4b7a-9d97-6bbbbf0fd57f         1
141113      m  4bef0fae-7919-472a-9371-f39af25e2bd6         1
128375      m  35aba961-e053-4211-bc9e-8494bea7313e         1
219273      m  d42f3094-8274-4c56-8c82-30f579bdf648         1
225693      m  df35a07a-5320-42cc-af03-522054d3ae28         1
104180      m  0b94f8e8-e7c5-4a45-9a2c-4ab8a038b43a         1
148874      m  5975fff3-3814-4f7e-abca-215359454e69         1
162789      m  719cbfdf-2ef5-43e7-9896-61a502b20244         1
104141      m  0b83aacb-3dd1-4205-98ed-ba38637eca3a         1
162359      m  70d318f4-6a02-4d83-bdfc-71e2bdb9b35a         1
162327      m  70c53a5b-066a-4c88-a48b-dd644582926f         1
231596      m  e9c3b7a4-e6e3-4a37-a63f-d6a584196525         1
128479      m  35e5031f-a5ed-4811-8254-65b7d585781d         1
186712      m  9b8c819c-acc6-4a0b-b66c-a2e3808e62db         1
205462      m  bc38de98-dde4-4818-8af2-8c9f4517ed08         1
128491      m  35ebc1ed-aac5-4916-8d5c-d4528389c99a         1
116305      m  20cd0a35-7943-4fa2-9351-4d1674683f3d         1
205466      m  bc39a2bd-cfd2-4028-87a1-05bed674ce3f         1
186654      m  9b747b21-0cba-4e27-96a3-9d16bed70646         1
200850      m  b4220fd9-ff4f-46e7-ae1d-a39b22c11f90         1
177172      m  8aa16292-610d-458e-8b40-d5c3bf9d4fee         1
227670      m  e2b5789d-4466-41a7-90dd-4ca1a8799114         1
128472      m  35e32be2-999c-445b-87b9-be2a089d2732         1
118549      m  248fab44-ce64-420a-ada9-45ad2ca8c831         1
199913      m  b2778622-4998-4964-bd6e-432d197cb4a2         1
133274      m  3e3e3959-36b5-457c-ae4a-7985abc9fbcc         1
98758       m  0221eb5a-146b-41b0-88d6-468adf617b36         1
198493      m  affca0a1-4765-49dc-8f43-773736d7264b         1
221508      m  d7eca4f5-76e0-45fb-876d-172554f7565a         1
237643      m  f435cebe-83d4-48cb-97fd-d1dfb59dd79a         1

[146829 rows x 3 columns]

# Famous artists which Female listen to mostly

In [86]:
gender_aggr[gender_aggr['gender']=='f'].sort_values(by='plays', ascending=False)

      gender                             artist_id    plays
67491      f  b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d  7390594
63792      f  a74b1b7f-71a5-4011-9441-d0b5e4122711  5817493
77870      f  cc197bad-dc9c-440d-a5b5-d52ba2e14234  4418967
59667      f  9c9f1380-2516-4fc9-a3e6-f9f61941d090  4276872
50590      f  847e8284-8582-4b0e-9c26-b042a4f49e57  3678030
90         f  0039c7ae-e1a7-4a7d-9b49-0cbc716821a6  3517112
31227      f  516cef4d-0718-4007-9939-f9b38af3f784  2795248
26329      f  44cf61b8-5197-448a-b82b-cef6ee89fac5  2664245
70088      f  b7ffd2af-418f-4be2-bdd1-22f8b48613da  2651036
57099      f  95e1ead9-4d31-4808-a7ac-32c3614c116b  2579900
79825      f  d13f0f47-36f9-4661-87fe-2de56f45c649  2569172
73330      f  c07f0676-9143-4217-8a9f-4c26bd636f13  2495658
93635      f  f59c5520-5f46-4d2c-b2c4-822eabf53419  2426331
40537      f  69ee3720-a7cb-4402-b48d-a02c366f2bcf  2405374
53421      f  8bfac288-ccc5-448d-9573-c33ea2aa5c30  2343111
66198      f  ada7a83c-e3e1-40f1-93f9-3e73dbc9298a  2312571
271        f  00a9f935-ba93-4fc8-a33a-993abe9c936b  2297072
50852      f  8538e728-ca0b-4321-b7e5-cff6565dd4c0  2286149
95856      f  fbb375f9-48bb-4635-824e-4120273b3ba7  2183525
26648      f  45a663b5-b1cb-4a91-bff6-2bef7bbfdd76  2157335
46222      f  78f797e3-4913-4026-aad0-1cd858bd735b  2146440
93257      f  f4a31f0a-51dd-4fa7-986d-3095c40c5ed9  1965555
1452       f  03ad1736-b7c9-412a-b442-82536d63a5c4  1943572
50340      f  83d91898-7763-47d7-b03b-b92132375c47  1925829
734        f  01d3c51b-9b98-418a-8d8e-37f6fab59d8c  1923278
73403      f  c0b2500e-0cef-4130-869d-732b23ed9df5  1921453
51829      f  87c5dedd-371d-4a53-9f7f-80522fb7f3cb  1921361
85440      f  dfe9a7c4-8cf2-47f4-9dcb-d233c2b86ec3  1901129
94105      f  f6f2326f-6b25-4170-b89d-e235b25508e8  1795576
94562      f  f82f3a3e-29c2-42ca-b589-bc5dc210fa9e  1789475
...      ...                                   ...      ...
45505      f  77250a7a-12ba-40c5-a16a-cef015abcc98        1
69693      f  b70563bb-d341-4f45-ac17-6f4131b20117        1
69640      f  b6e4050e-e55e-41e4-b8ef-13f0d300f3c7        1
45588      f  775618e2-048d-4dc6-8122-fa50bd3a91da        1
45812      f  77e9d8c1-8bff-4a52-9af9-5181f639ac9b        1
45837      f  77f9685a-c8a9-4622-adf0-a95ea118f66c        1
45840      f  77fb5a03-04bc-4484-8c7f-93901656b97b        1
14163      f  25127590-2ff3-462e-a338-c032d2bff6f0        1
69568      f  b6ade6fe-7cd9-428c-a1f1-cbc0f33e34b4        1
69560      f  b6a7af7c-8711-44d1-81ae-ca16b3870635        1
69527      f  b6985ea6-a87b-4638-a42d-4f9b17936afd        1
95074      f  f9951143-cd8f-4d7d-ab73-0a9af5c61f00        1
69787      f  b749d4d0-dd1d-4c0b-9c76-4caf3b2cd4d8        1
45182      f  764160a6-4e16-4a5a-83db-49c237f0c46d        1
5229       f  0d851c36-6a5f-4687-9137-1024747d4119        1
70177      f  b83e4344-8b20-4fce-b9df-3d64f336e820        1
44673      f  74ed1e1c-cef5-46ab-8bd0-0539fc8c7425        1
5217       f  0d7ef420-cb03-4f28-9c60-4fa49ee9bd91        1
70084      f  b7fdef76-66a3-4b2f-a3ac-29165542cd8c        1
44802      f  7548e144-c0e6-4f77-be32-ace50ae6046f        1
14397      f  259237a3-2b5b-4d81-891a-079b4686dadc        1
14396      f  25911cbe-7d2d-4e11-9949-ce6ac1449208        1
5326       f  0dd470ee-bb77-44f7-a621-7c21c3520e4e        1
44910      f  7597108e-0139-4f85-8b67-d3e0f8e26a24        1
69988      f  b7c56132-c4b0-4381-bb26-e8b05cf24d2c        1
85539      f  e0224654-f8c7-49c6-97fe-96faaab50f91        1
44953      f  75af066f-4e28-4c8f-9e44-1a9ac224fedc        1
45055      f  75f331df-f740-4997-9913-71c6be48594a        1
5316       f  0dcc30fd-9c85-4666-b432-1308188059e0        1
72268      f  bdbc2cbb-ab5e-42b3-832b-8f22b6d6ce80        1

[97523 rows x 3 columns]

# Total songs played by Male vs Female

In [87]:
gender_aggr[gender_aggr['gender']=='m'].groupby('gender').sum()

             plays
gender
m       2652333874

In [88]:
gender_aggr[gender_aggr['gender']=='f'].groupby('gender').sum()

            plays
gender
f       786779308

# Age Buckets Detailed Analysis

In [89]:
age_data = master_data[['age','user_id','artist_id','plays']]

In [90]:
age_data.head()

,age,user_id,artist_id,plays
0,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099
1,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897
2,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717
3,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706
4,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,691

In [91]:
age_data['age'].value_counts()

20.0      1166404
21.0      1165846
22.0      1079984
19.0      1072002
23.0       970956
24.0       863036
18.0       813999
25.0       756430
26.0       655370
27.0       552474
17.0       527698
28.0       496626
29.0       433558
30.0       359485
31.0       300425
16.0       272875
32.0       258635
33.0       228200
34.0       197665
35.0       176985
36.0       152692
39.0       136321
37.0       134987
38.0       118308
15.0       104882
40.0        82041
41.0        71636
42.0        65432
43.0        52431
44.0        47773
           ...
105.0        1301
92.0         1252
77.0         1136
97.0         1126
86.0         1088
73.0         1014
104.0         981
90.0          962
79.0          923
89.0          902
91.0          880
95.0          876
72.0          869
74.0          869
87.0          836
94.0          829
83.0          767
75.0          739
80.0          698
98.0          687
96.0          675
82.0          674
78.0          673
93.0          636
81.0          495
84.0          235
85.0          223
121.0          89
1002.0         50
666.0          48
Name: age, Length: 113, dtype: int64

In [99]:
age_data[age_data['age']<150].sort_values(by='age')

,age,user_id,artist_id,plays
5634176,-1337.0,5271ec7158c6a3f9e22e50270b033d0d969fc9ab,e5c7b94f-e264-473c-bb0f-37c85d4d5c70,60
14904656,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,d4d442ec-63fb-4ac5-9617-d129bc66a71e,272
14904657,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,8475297d-fb78-4630-8d74-9b87b6bb7cc8,260
14904658,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,233fc3f3-6de2-465c-985e-e721dbabbace,259
14904659,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,78f797e3-4913-4026-aad0-1cd858bd735b,258
14904660,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,73d882c7-1146-4012-a61b-a3b2c11fce2f,257
14904661,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,d4ad0149-d8ae-4105-8009-0221fce9ff35,242
14904662,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,4b2d6a23-034d-4a29-9bb9-d2462796da4e,241
14904663,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,c5f5dc27-3059-49c0-ae45-5009a01bb9ec,241
14904664,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,0ffb6573-a98e-412e-aa01-0a580e9d8b06,238
14904665,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,229
14904666,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,a96ac800-bfcb-412a-8a63-0a98df600700,226
14904667,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,195ddaa1-f1e4-4960-a107-58d26cb058a2,225
14904668,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,8a338e06-d182-46f2-bd16-30a09bc840ba,223
14904669,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,276cfa71-caa8-4bf4-b522-39a8086e7c6b,223
14904670,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,2914ee0b-9055-4dee-bca2-4f385b1e617a,220
14904671,-1337.0,d992d99326f1a5abbc1f0c4a3d7eca3b72e72f2d,ad4ba77a-2382-4367-b687-89d38c58e16d,217
16127491,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,3697647f-1839-479e-98a1-9ad39004d923,539
16127490,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,183105b5-3e68-4748-9086-2c1c11bf7a3d,543
16127489,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,9c9f1380-2516-4fc9-a3e6-f9f61941d090,556
16127488,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,0efe858c-89e5-4e47-906a-356fa953fd6e,557
16127487,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,95e1ead9-4d31-4808-a7ac-32c3614c116b,559
16127486,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,5cbef01b-cc35-4f52-af7b-d0df0c4f61b9,567
16127485,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,d13f0f47-36f9-4661-87fe-2de56f45c649,584
16127484,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,7e30debb-3308-49ab-a5ac-6d49319a5705,588
16127483,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,d8661c02-f423-4d72-8044-40ff05daf7a1,590
16127482,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,92dc699f-fcbc-4278-afbe-40b5ad060a55,591
16127481,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,6e64cbfa-1a60-450e-81f4-c044c868ab24,592
16127480,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,24df2b7a-69c2-42cb-b4e0-a1181f5afe14,613
16127479,-1337.0,eb9324debec0b601f92b63a22938e8e1a51311f8,NaN,647
...,...,...,...,...
10186842,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,e21857d5-3256-4547-afb3-4b6ded592596,373
6900722,121.0,64de4488e75e19c508da970faa081b10de80bee7,6d7b7cd4-254b-4c25-83f6-dd20f98ceacd,438
6900723,121.0,64de4488e75e19c508da970faa081b10de80bee7,31aa8446-3dbf-4d22-9504-0f1bd58bf785,422
6900724,121.0,64de4488e75e19c508da970faa081b10de80bee7,7bdf4633-c336-4f19-bd23-3208865baacd,420
6900725,121.0,64de4488e75e19c508da970faa081b10de80bee7,15388d42-9197-4ca1-9ffe-240f763b84cb,418
6900726,121.0,64de4488e75e19c508da970faa081b10de80bee7,5ae54dee-4dba-49c0-802a-a3b3b3adfe9b,414
6900727,121.0,64de4488e75e19c508da970faa081b10de80bee7,0110e63e-0a9b-4818-af8e-41e180c20b9a,413
6900728,121.0,64de4488e75e19c508da970faa081b10de80bee7,b21ef19b-c6aa-4775-90d3-3cc3e067ce6d,402
10186822,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,bce2ec89-f0c6-45b7-bd83-5defc66e6bc2,4889
10186823,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,16a6ff18-4875-4851-94b6-f4f831e73fa7,1787
10186824,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,c07f0676-9143-4217-8a9f-4c26bd636f13,1607
10186825,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,NaN,1082
10186826,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,084308bd-1654-436f-ba03-df6697104e19,1077
10186827,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,603ba565-3967-4be1-931e-9cb945394e86,695
10186828,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,f27ec8db-af05-4f36-916e-3d57f91ecf5e,676
10186829,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,67f66c07-6e61-4026-ade5-7e782fad3a5d,618
10186830,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,183105b5-3e68-4748-9086-2c1c11bf7a3d,612
10186831,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,e30ebbae-9075-49ce-9257-f61aec79245c,596
10186832,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,020bfbb4-05c3-4c86-b372-17825c262094,550
10186833,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,2fa0d3ac-b64c-401a-b0a1-4915ba6cc157,547
10186834,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,36d6bac0-9f2a-48a5-8620-6701942cb95b,531
10186835,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,516cef4d-0718-4007-9939-f9b38af3f784,492
10186836,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,0103c1cc-4a09-4a5d-a344-56ad99a77193,466
10186837,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,0743b15a-3c32-48c8-ad58-cb325350befa,465
10186839,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,0ab49580-c84f-44d4-875f-d83760ea2cfe,442
10186840,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,b345af35-205e-4eca-8006-029e5c20127e,411
6900684,121.0,64de4488e75e19c508da970faa081b10de80bee7,fc61dd75-880b-44ba-9ba9-c7b643d33413,1238
10186841,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,b267ca80-034e-4dc1-9ed4-ec45f1fed41d,379
10186859,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,8262d8e4-9137-4bb3-a787-3caabbbc13e9,89
10186838,121.0,94cf517c1bf7f9ee099e237ccfcefef0a3b87356,148ddea2-6839-4354-8e2c-5dfadf136b7f,455

In [100]:
import numpy as np

In [101]:
age_data = age_data[np.isfinite(age_data['age'])]

In [102]:
def create_bucket(age):
    if age>10 and age<18:
        return 'b1'
    elif age>=18 and age<23:
        return 'b2'
    elif age>=23 and age<28:
        return 'b3'
    elif age>=28 and age<35:
        return 'b4'
    elif age>=35 and age<150:
        return 'b5'

In [103]:
age_data['bucket'] = age_data['age'].apply(lambda x: create_bucket(x))

In [104]:
age_data.head()

,age,user_id,artist_id,plays,bucket
0,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099,b2
1,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897,b2
2,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717,b2
3,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706,b2
4,22.0,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,691,b2

In [105]:
age_data.describe()

                age         plays
count  1.389630e+07  1.389630e+07
mean   2.518912e+01  2.278396e+02
std    2.195356e+01  6.333199e+02
min   -1.337000e+03  1.000000e+00
25%    2.000000e+01  3.800000e+01
50%    2.300000e+01  1.020000e+02
75%    2.800000e+01  2.380000e+02
max    1.002000e+03  4.191570e+05

## No of user in each age buckets

In [106]:
age_data[['bucket','user_id']].groupby('bucket').nunique()

        bucket  user_id
bucket
b1           1    20292
b2           1   109386
b3           1    77239
b4           1    45660
b5           1    30267

In [107]:
age_aggr = age_data[['bucket','artist_id','plays']].groupby(['bucket','artist_id'],as_index=False).sum()

In [80]:
age_aggr.head()

  bucket                             artist_id  plays
0     b1  0001cd84-2a11-4699-8d6b-0abf969c5f06    695
1     b1  0002f649-8285-4a72-b847-b3854e1a449c   2991
2     b1  00034ede-a1f1-4219-be39-02f36853373e  10615
3     b1  0003fd17-b083-41fe-83a9-d550bd4f00a1   1537
4     b1  0004537a-4b12-43eb-a023-04009e738d2e    254

## Artist choice for different age group

In [108]:
age_final = age_aggr[age_aggr['bucket']=='b2'].sort_values(by='plays',ascending=False)

In [109]:
age_final

       bucket                             artist_id     plays
123049     b2  b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d  11007044
119149     b2  a74b1b7f-71a5-4011-9441-d0b5e4122711   9104060
114840     b2  9c9f1380-2516-4fc9-a3e6-f9f61941d090   6998555
133953     b2  cc197bad-dc9c-440d-a5b5-d52ba2e14234   6707053
150576     b2  f59c5520-5f46-4d2c-b2c4-822eabf53419   6700049
92956      b2  65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab   6412716
108345     b2  8bfac288-ccc5-448d-9573-c33ea2aa5c30   6292353
104995     b2  83d91898-7763-47d7-b03b-b92132375c47   5829327
133935     b2  cc0b7089-c08d-4c10-b6b0-873582c17fd6   5827795
71807      b2  31745282-b1ea-4d62-939f-226b14d68e7c   5534727
51909      b2  0039c7ae-e1a7-4a7d-9b49-0cbc716821a6   4548125
125804     b2  b7ffd2af-418f-4be2-bdd1-22f8b48613da   4308742
105255     b2  847e8284-8582-4b0e-9c26-b042a4f49e57   4298617
54732      b2  0743b15a-3c32-48c8-ad58-cb325350befa   4288127
52090      b2  00a9f935-ba93-4fc8-a33a-993abe9c936b   4084839
133318     b2  ca891d65-d9b0-4258-89f7-e6ba29d83767   4035334
112140     b2  95e1ead9-4d31-4808-a7ac-32c3614c116b   3995391
121645     b2  ada7a83c-e3e1-40f1-93f9-3e73dbc9298a   3968752
123718     b2  b2d122f9-eadb-4930-a196-8f221eeb0c66   3913684
79829      b2  45a663b5-b1cb-4a91-bff6-2bef7bbfdd76   3654928
90682      b2  606bf117-494f-4864-891f-09d63ff6aa4b   3515287
84649      b2  516cef4d-0718-4007-9939-f9b38af3f784   3408578
93585      b2  678d88b2-87b0-403b-b63d-5da7465aecc3   3230453
121193     b2  ac865b2e-bba8-4f5a-8756-dd40d5e39f46   3051561
151075     b2  f6f2326f-6b25-4170-b89d-e235b25508e8   2984484
53963      b2  056e4f3e-d505-4dad-8ec1-d04f521cbb56   2962063
98125      b2  72c536dc-7137-4477-a521-567eeb840fa8   2954364
60728      b2  164f0d73-1234-4e2c-8743-d77bf2191051   2925975
79494      b2  44cf61b8-5197-448a-b82b-cef6ee89fac5   2924755
143434     b2  e3e0abcd-7671-4482-a9d8-462f5acc9be5   2873239
...       ...                                   ...       ...
133160     b2  ca24b3eb-8895-472b-b557-6e9363ed9e90         1
61456      b2  181b2361-9511-4eff-9357-6b69f37d6db8         1
119373     b2  a7e006ce-f7f6-45d5-a227-3da1cab92a8f         1
85227      b2  52db4221-3049-409d-b731-ceb1b30a0cfe         1
55574      b2  095ec7ad-0426-4eaf-85d1-7050f48a82d4         1
55706      b2  09ae62a8-6db6-46a6-abb0-0df72094ddca         1
126781     b2  ba8f085f-1501-499e-a1e2-55b6ca2d1753         1
55917      b2  0a383cd4-d26a-4ce1-8d9c-8bbb8a6df1e3         1
78410      b2  421b6eec-6e73-4b7c-ab56-8d9cba01f83c         1
132519     b2  c88de318-eefa-43c7-94c3-3f8dab9f5d4e         1
61514      b2  1842e173-4bdc-4f85-838d-3cd335fbcdb3         1
91811      b2  632c69c8-404e-4062-8871-6acfe05c70db         1
111326     b2  93b482d7-df4c-4ea8-ba3d-efaeed904fa7         1
65156      b2  2136804c-7b60-4846-ae54-f40c473dc251         1
111285     b2  93994df1-de0d-4911-abb0-26bcdefc741a         1
126934     b2  bafc5c78-e5b0-4eff-8a76-c5d922ba5b98         1
91873      b2  6356e00d-222c-4194-821a-9214483ec3eb         1
132609     b2  c8c5a4ce-a293-4d48-906b-68f8f984296f         1
154131     b2  febae8cc-fdc6-492e-ad67-9ab6cb650c05         1
65319      b2  219c03e4-c39f-4c4d-9a91-bace206ca04c         1
91879      b2  635a6ec4-a49b-4778-8d03-8897f431629e         1
55777      b2  09d80871-236d-4fd5-9d1e-c931d6df0147         1
65181      b2  2149126f-9681-4f15-9ef7-7f243e92c9f2         1
111059     b2  92ffb7b9-b40b-4d46-bbd7-e94ddc3f3d91         1
73106      b2  34b960d5-62b9-4f08-a1b8-eaa58951b770         1
132751     b2  c91d8133-dd0c-4c26-8b89-c2ed991f3966         1
110961     b2  92ba8b63-936f-4c40-a848-75015ed675e0         1
65310      b2  2196067d-73db-4ab0-972d-34aba617a47f         1
55732      b2  09bcde35-8f0c-4e08-b4a3-e184508dfe2b         1
143348     b2  e3ac90f4-72ae-4486-ada9-6051f4aba99a         1

[102848 rows x 3 columns]

# Country detailed Analysis

In [110]:
country_data = user_profile[['country','user_id']]

In [111]:
country_data.head()

         country                                   user_id
0        Germany  00000c289a1829a808ac09c00daf10bc3c4e223b
1         Canada  00001411dc427966b17297bf4d69e7e193135d89
2        Germany  00004d2ac9316e22dc007ab2243d6fcb239e707d
3         Mexico  000063d3fe1cf2ba248b9e3c3f0334845a27a6bf
4  United States  00007a47085b9aab8af55f52ec8846ac479ac4fe

## No of users country wise

In [112]:
country_data['country'].value_counts()

United States               67044
Germany                     31651
United Kingdom              29902
Poland                      20987
Russian Federation          19833
Brazil                      14534
Sweden                      13122
Spain                       13051
Finland                     11579
Netherlands                  9650
Canada                       8679
France                       7529
Italy                        7525
Australia                    7135
Japan                        6637
Turkey                       6452
Norway                       5155
Mexico                       4834
Czech Republic               4774
Ukraine                      4396
Belgium                      3803
Portugal                     3196
Switzerland                  3053
Bulgaria                     2800
Austria                      2796
Chile                        2794
Argentina                    2640
Romania                      2636
Denmark                      2508
Hungary                      1985
                            ...
Saint Kitts and Nevis          10
Solomon Islands                10
Senegal                         9
Namibia                         9
San Marino                      9
Cameroon                        9
Tonga                           8
Saint Lucia                     8
Rwanda                          8
Comoros                         8
Mayotte                         8
Gabon                           8
Mali                            7
Myanmar                         7
Grenada                         7
Malawi                          6
Eritrea                         6
Belize                          6
Guinea-Bissau                   5
Sudan                           5
Suriname                        5
Central African Republic        5
Mauritania                      5
Guyana                          5
French Guiana                   4
Marshall Islands                4
Gambia                          3
Liberia                         3
Benin                           3
Palau                           3
Name: country, Length: 239, dtype: int64